.root_brandon {
    text-align: center;
}

.form_container {
    width: 360px;
    margin: auto;
    background: #F2F2F2;
    padding: 20px 400px;
}

input[type=email], input[type=password] {
    width: 100%;
    padding: 15px 15px;
    border-radius: 5px;
    margin-top: 16px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 15px 15px;
    border-radius: 5px;
    margin-top: 20px;

    background: #000000;
    color: #FFFFFF;
}

a {
    color: #000000;
    font-size: 14px;
    margin: 20px;
}
